<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="efea79">  <td>20/11/13 17:25:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseConfiguration.basicAPIInfo()[pri:0, instance:com.gomechanic.Garage.GETGarage@6a41eaa2]">&gt;&gt;basicAPIInfo</td> 
<td>&nbsp;</td>  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/11/13 17:25:53</td>   <td>1763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GETGarage.garageTest()[pri:0, instance:com.gomechanic.Garage.GETGarage@6a41eaa2]">garageTest</td> 
  <td>main@1555690610</td>   <td></td> </tr>
</table>
