<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbe6bb">  <td>20/04/13 17:49:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GETFleets.fleetsTest()[pri:0, instance:com.gomechanic.Fleet.GETFleets@4883b407]">fleetsTest</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>20/04/13 17:49:32</td>   <td>12488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GETGarageSummary.garageSummaryTest()[pri:0, instance:com.gomechanic.Garage.GETGarageSummary@42e26948]">garageSummaryTest</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>20/04/13 17:49:38</td>   <td>18894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetModelByBrand.garageSummaryTest()[pri:0, instance:com.gomechanic.Vehicle.GetModelByBrand@4dfa3a9d]">garageSummaryTest</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>20/04/13 17:49:26</td>   <td>7042</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GETGarage.garageTest()[pri:0, instance:com.gomechanic.Garage.GETGarage@1794d431]">garageTest</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>20/04/13 17:49:25</td>   <td>5364</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetCarList.getCarListTest()[pri:0, instance:com.gomechanic.Vehicle.GetCarList@e25b2fe]">getCarListTest</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>20/04/13 17:49:31</td>   <td>11560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetCarSummaryList.getCarSummaryListTest()[pri:0, instance:com.gomechanic.Vehicle.GetCarSummaryList@754ba872]">getCarSummaryListTest</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>20/04/13 17:49:33</td>   <td>13519</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetCarTblId.getCarTblIdTest()[pri:0, instance:com.gomechanic.Vehicle.GetCarTblId@146ba0ac]">getCarTblIdTest</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>20/04/13 17:49:39</td>   <td>19625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetOrderById.getOrderByIdTest()[pri:0, instance:com.gomechanic.Order.GetOrderById@343f4d3d]">getOrderByIdTest</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>20/04/13 17:49:40</td>   <td>20666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetOrderPaginate.getOrderPaginateTest()[pri:0, instance:com.gomechanic.Order.GetOrderPaginate@53b32d7]">getOrderPaginateTest</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>20/04/13 17:49:43</td>   <td>24036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetOrders.getOrderPaginateTest()[pri:0, instance:com.gomechanic.Order.GetOrders@5442a311]">getOrderPaginateTest</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/04/13 17:49:44</td>   <td>24705</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetOrderStatuses.getOrderStatusTest()[pri:0, instance:com.gomechanic.Order.GetOrderStatuses@548e7350]">getOrderStatusTest</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>20/04/13 17:49:45</td>   <td>25344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetOrderStatusHistory.getOrderStatusTest()[pri:0, instance:com.gomechanic.Order.GetOrderStatusHistory@1a968a59]">getOrderStatusTest</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>20/04/13 17:49:49</td>   <td>29765</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetPayment.getPaymentTest()[pri:0, instance:com.gomechanic.Order.GetPayment@4667ae56]">getPaymentTest</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/04/13 17:49:33</td>   <td>14122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetDownloadJobCard.getTestingEstimateTest()[pri:0, instance:com.gomechanic.Order.GetDownloadJobCard@57baeedf]">getTestingEstimateTest</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>20/04/13 17:49:50</td>   <td>30885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetTestingEstimate.getTestingEstimateTest()[pri:0, instance:com.gomechanic.Order.GetTestingEstimate@77cd7a0]">getTestingEstimateTest</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>20/04/13 17:49:54</td>   <td>34962</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GETPlaceSummary.placeSummaryTest()[pri:0, instance:com.gomechanic.Place.GETPlaceSummary@204f30ec]">placeSummaryTest</td> 
  <td>main@230835489</td>   <td></td> </tr>
</table>
